h3 {
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

h2 {
    font-size: 100px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 35px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 80%;
}

.navbar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h5 {
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero-image {
    background-image: url('/static/hero_image.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2e2b2b;
    color: #ffffff;
}

.overlay {
    background-color: rgb(33, 32, 32);
    width: 100%;
}

.text {
    width: 100%;
}

form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    color: white;
    font-family: Arial, sans-serif;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #4CAF50;
    cursor: pointer;
}

input[type="checkbox"] {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    padding-left: 10px;
}




.overview-box, .image-box {
    background-color: #222; 
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); 
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.bottom-section {
    display: flex;
    gap: 20px;
    padding: 20px 15%;
    flex-wrap: wrap;
}


.info-box {
    background-color: #222; 
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}




@media (max-width: 768px) {
    .top-section, .bottom-section {
        flex-direction: column;
    }
}


.video-box {
    background-color: #222; 
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


.top-section {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding: 20px 15%;
    flex-wrap: wrap;
    align-items: stretch;
}

.overview-box, .image-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.top-section {
    align-items: stretch;
}

.delete{
    color: red;
}

.error{
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-top: 30px;
}