{% extends "layout.html" %}
{% block content %}

{% if not admin_active %}
<h3>Login</h3>
<form action="/registerlogin" method="post">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Login">
</form>
{% if login_message %}
<h3>{{login_message}}</h3>
{% endif %}
{% else %}
<h3>Add a Camera</h3>
<form action="/admin/2" method="post">
    <label>Camera Name</label>
    <input type="text" name="name" maxlength="15" required><br><br>

    <label>Manufacturer</label>
    <select name="manufacturer">
        {% for i in manufacturers %}
        <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
    </select>

    <label>Release Date</label>
    <input type="date" name="release_date"><br><br>

    <label>Megapixels</label>
    <input type="number" name="megapixels"><br><br>

    <label>Mount</label>
    <input type="text" name="mount"><br><br>

    <label>Sensor Size</label>
    <input type="text" name="sensor_size">

    <label>Price</label>
    <input type="number" name="price"><br><br>

    <label>Overall Rating</label>
    <input type="number" name="overall_rating"><br><br>



    <input type="submit" value="Continue">
</form>

<h4><a href="/logout">LOGOUT</a></h4>
{% endif %}
{% endblock %}