{% extends "layout.html" %}

{% block content %}
<h3>Add more camera information</h3>
<form action="" method="post">
    <label>Cont Shoot</label>
    <input type="number" name="cont_shoot"><br><br>
    
    <label>Video Res</label>
    <input type="text" name="video_res"><br><br>

    <label>Video Frame Rate</label>
    <input type="number" name="vid_frame_rate"><br><br>

    <label>Slomo Video Resolution</label>
    <input type="text" name="slomo_vidres"><br><br>

    <label>Slomo Video Frame Rate</label>
    <input type="number" name="slomo_vidfps"><br><br>

    <label>Shots Per Battery</label>
    <input type="number" name="shots_per_bat"><br><br>

    


</form>
{% endblock %}