{% extends "layout.html" %}
{% block content %}
<h3>Add information</h3>
<form action="/admin/3" method="post">
    <label>Max Iso</label>
    <input type="number" name="max_iso"><br><br>

    <label>Min Iso</label>
    <input type="number" name="min_iso"><br><br>

    <label>Flash</label>
    <input type="checkbox" name="flash">
    <label>Has</label><br><br>

    <label>Bit Depth</label>
    <input type="number" name="bit_depth"><br><br>

    <input type="submit" value="Continue">



</form>
{% endblock %}