{% extends "layout.html" %}
{% block content %}

{% if not admin_active %} <!-- If admin mode is NOT active it will send the user to the login page. -->
<h3>Login</h3> <!-- Login page -->
<form action="/registerlogin" method="post">
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <input type="submit" value="Login">
</form>
{% if login_message %}
{% endif %}
{% else %}
<h3>Add a Camera</h3> <!-- Adding a camera form 1/3 -->
<form action="/admin/2" method="post">
    <label>Camera Name</label>
    <input type="text" name="name" maxlength="15" required><br><br>

    <label>Manufacturer</label>
    <select name="manufacturer">
        {% for i in manufacturers %}
        <option value="{{i[0]}}">{{i[1]}}</option> <!-- Manufacturer IDs are sent to the data base -->
        {% endfor %}
    </select>

    <label>Release Date</label>
    <input type="date" name="release_date" required><br><br>

    <label>Megapixels</label>
    <input type="number" name="megapixels" required><br><br>

    <label>Mount *put N/A if non ICLE</label>
    <select name="mount">
        <option value="N/A">N/A</option>
        <option value="E">Sony E</option>
        <option value="RF">Canon RF</option>
        <option value="FE">Sony FE</option>
        <option value="Z">Nikon Z</option>
        <option value="L">Lecia L</option>

    </select>

    <label>Sensor Size</label>
    <select name="sensor_size">
        <option value="Medium Format">Medium Format</option>
        <option value="Full Frame">Full Frame</option>
        <option value="APS C">APS C</option>
        <option value="MFT">Micro 4/3s</option>
        <option value="1in">1 in</option>
    </select>

    <label>Price</label>
    <input type="number" name="price" required><br><br>

    <label>Overall Rating</label>
    <select name="overall_rating">
        <option value="capable">Capable</option>
        <option value="decent">Decent</option>
        <option value="good">Good</option>
        <option value="solid">Solid</option>
        <option value="very_good">Very Good</option>
        <option value="fantastic">Fantastic</option>
        <option value="exceptional">Exceptional</option>
    </select>



    <input type="submit" value="Continue">
</form>

<h4><a href="/logout">LOGOUT</a></h4> <!-- Logout button -->
{% endif %}
{% endblock %}