{% extends "layout.html" %}

{% block content %}
<h3>Add more camera information</h3> <!-- Add a camera page 3/3 sumbit page -->
<form action="/admin/addcamera" method="post" enctype="multipart/form-data">
    <label>Cont Shoot</label>
    <input type="number" name="cont_shoot" required><br><br>
    
    <label>Video Res</label>
    <input type="text" name="video_res" required><br><br>

    <label>Video Frame Rate</label>
    <input type="number" name="vid_frame_rate" required><br><br>

    <label>Slomo Video Resolution</label>
    <input type="text" name="slomo_vidres" required><br><br>

    <label>Slomo Video Frame Rate</label>
    <input type="number" name="slomo_vidfps" required><br><br>

    <label>Shots Per Battery</label>
    <input type="number" name="shots_per_bat" required><br><br>

    <label>AF Points</label>
    <input type="number" name="af_points" required><br><br>

    <label>AF Point Type</label>
    <input type="text" name="af_point_type" required><br><br>

    <label>Face AF</label>
    <input type="checkbox" name="face_af"><br><br>

    <label>Eye AF</label>
    <input type="checkbox" name="eye_af"><br><br>

    <label>Ibis</label>
    <input type="checkbox" name="ibis"><br><br>

    <label>Lens Amount</label>
    <input type="number" name="amount_lens" required><br><br>

    <label>Ergonomics</label>
    <select name="ergonomics">
        <option value="mid">Mid</option>
        <option value="okay">Okay</option>
        <option value="good">Good</option>
        <option value="excellent">Excellent</option>
    </select>

    <label>Image</label>
    <input type="file" name="image" accept="image/*" required><br><br> <!-- Uploading images to the database -->

    <input type="submit" value="Add Camera">




</form>
{% endblock %}