{% extends "layout.html" %}
{% block content %}
<h6>Overveiw for the {{camera["manufacturer"]}} {{camera["name"]}}</h6>
<h3>This is the {{camera["manufacturer"]}} {{camera["name"]}} a camera released on {{camera["release_date"]}}. The {{camera["name"]}} has a {{camera["megapixel"]}} megapixel {{camera["sensor_size"]}} sized sensor, this camera has the {{camera["manufacturer"]}} {{camera["mount"]}} mount with {{camera["lens_amount"]}} lenses to choose from. For the price of {{camera["price"]}} NZD the {{camera["manufacturer"]}} {{camera["name"]}} is a {{camera["rating"]}} camera.</h3>

<h3>Name: {{camera["name"]}}</h3>
<h3>Manufacturer: {{camera["manufacturer"]}}</h3>
<h3>Release date: {{camera["release_date"]}}</h3>
<h3>Ergonomics: {{camera["ergonomics"]}}</h3>
<h3>Megapixels: {{camera["megapixel"]}}</h3>
<h3>Max iso: {{camera["max_iso"]}} iso</h3>
<h3>Min iso: {{camera["min_iso"]}} iso</h3>
<h3>Lens mount: {{camera["manufacturer"]}} {{camera["mount"]}} mount</h3>
<h3>Ibis: {{camera["ibis"]}}</h3>

{% endblock %}