{% extends "layout.html" %}
{% block content %}
<h6>Select Cameras to Compare</h6>
<form action="" method="post">
    <label>Camera One</label>
    <select name="camera1" required>
        {% for camera in cameras %}
        <option value="{{ camera['cam_id'] }}">{{ camera['manufacturer'] }} {{ camera['name'] }}</option>
        {% endfor %}
    </select>

    <label>Camera Two</label>
    <select name="camera2" required>
        {% for camera in cameras %}
        <option value="{{ camera['cam_id'] }}">{{ camera['manufacturer'] }} {{ camera['name'] }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Compare">
</form>
{% endblock %}
