<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Data</title>
</head>
<header class="hero-image">
    <div class="text">
        <h1>Camera Comparison</h1>
    </div>
</header>
<body>
    <nav class="navbar overlay">
        <a href="/all_cameras">Camera List</a>
        <a href="/">Comparison</a>
        <a href="/admin">Admin</a>
    </nav>
    {% block content %}
    {% endblock %}
    <h4>2025 Camera Comparison</h4>
</body>
</html>
